spring:
  jackson:
    serialization:
      FAIL_ON_EMPTY_BEANS: false
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password: ""
  h2:
    console:
      enabled: true
      path: /h2-console
  sql:
    init:
      mode: always
      data-locations:
        - classpath:data.sql
        - classpath:schema.sql
server:
  port: 8080

request:
  context:
    header: X-Request-User

logging:
  level:
    root: INFO
    com.tk.learn.employee: ERROR
    com.tk.learn.employee.EmployeeController: DEBUG